<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Inventory</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.inventroy.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRaw</display-name>
    <servlet-name>AddRaw</servlet-name>
    <servlet-class>com.inventroy.AddRaw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRaw</servlet-name>
    <url-pattern>/AddRaw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProcess</display-name>
    <servlet-name>AddProcess</servlet-name>
    <servlet-class>com.inventroy.AddProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProcess</servlet-name>
    <url-pattern>/AddProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddExistRaw</display-name>
    <servlet-name>AddExistRaw</servlet-name>
    <servlet-class>com.inventroy.AddExistRaw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddExistRaw</servlet-name>
    <url-pattern>/AddExistRaw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddExistProcess</display-name>
    <servlet-name>AddExistProcess</servlet-name>
    <servlet-class>com.inventroy.AddExistProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddExistProcess</servlet-name>
    <url-pattern>/AddExistProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsuueRaw</display-name>
    <servlet-name>IsuueRaw</servlet-name>
    <servlet-class>com.inventroy.IsuueRaw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsuueRaw</servlet-name>
    <url-pattern>/IsuueRaw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueRaw</display-name>
    <servlet-name>IssueRaw</servlet-name>
    <servlet-class>com.inventroy.IssueRaw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueRaw</servlet-name>
    <url-pattern>/IssueRaw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueProcess</display-name>
    <servlet-name>IssueProcess</servlet-name>
    <servlet-class>com.inventroy.IssueProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueProcess</servlet-name>
    <url-pattern>/IssueProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendorLogin</display-name>
    <servlet-name>VendorLogin</servlet-name>
    <servlet-class>com.inventroy.VendorLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorLogin</servlet-name>
    <url-pattern>/VendorLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuotationRaw</display-name>
    <servlet-name>QuotationRaw</servlet-name>
    <servlet-class>com.inventroy.QuotationRaw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuotationRaw</servlet-name>
    <url-pattern>/QuotationRaw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuotationProcess</display-name>
    <servlet-name>QuotationProcess</servlet-name>
    <servlet-class>com.inventroy.QuotationProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuotationProcess</servlet-name>
    <url-pattern>/QuotationProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuperAdminLogin</display-name>
    <servlet-name>SuperAdminLogin</servlet-name>
    <servlet-class>com.inventroy.SuperAdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuperAdminLogin</servlet-name>
    <url-pattern>/SuperAdminLogin</url-pattern>
  </servlet-mapping>
</web-app>